@page "/CreateTrip"
@model BaruchsTreks.Pages.CreateTripModel

@using BaruchsTreks.Data;
@using BaruchsTreks.Enums;
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var isContributor = false;
    if (User.Identity?.Name != null)
    {
        var loggedUser = await UserManager.FindByNameAsync(User.Identity.Name);
        isContributor = loggedUser?.IsContributor ?? false;
    }
}

<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load();</script>

<h1>CreateTrip</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="trip.Title" class="control-label"></label>
                <input asp-for="trip.Title" class="form-control" />
                <span asp-validation-for="trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip.Description" class="control-label"></label>
                <textarea asp-for="trip.Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="trip.Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="trip.LengthHours" class="control-label">Length in hours</label>
                    <input asp-for="trip.LengthHours" class="form-control" />
                    <span asp-validation-for="trip.LengthHours" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="trip.MetersAscend" class="control-label">Meters ascend</label>
                    <input asp-for="trip.MetersAscend" class="form-control" />
                    <span asp-validation-for="trip.MetersAscend" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="trip.MetersDescend" class="control-label">Meters descend</label>
                    <input asp-for="trip.MetersDescend" class="form-control" />
                    <span asp-validation-for="trip.MetersDescend" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="trip.UiaaGrade" class="control-label">UIAA grade</label>
                    @Html.DropDownListFor(model => model.trip.UiaaGrade, new SelectList(Model.UiaaGradeList, "Key", "Value"), "--Select UIAA Grade--")
                    <span asp-validation-for="trip.UiaaGrade" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label">Pinpoint High point</label>
                <div id="mHigh" style="height:380px"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Hlo" class="control-label"></label>
                    <input asp-for="Hlo" class="form-control" type="" />
                    <span asp-validation-for="Hlo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Hla" class="control-label"></label>
                    <input asp-for="Hla" class="form-control" />
                    <span asp-validation-for="Hla" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Pinpoint parking</label>
                <div id="mParking" style="height:380px"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Plo" class="control-label"></label>
                    <input asp-for="Plo"class="form-control" />
                    <span asp-validation-for="Plo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Pla" class="control-label"></label>
                    <input asp-for="Pla" class="form-control disabled" />
                    <span asp-validation-for="Pla" class="text-danger"></span>
                </div>
            </div>
            <br />

            <input type="hidden" asp-for="trip.Modified" />
            <input type="hidden" asp-for="trip.Created" />

            @if (isContributor)
            {
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary edit-button" />
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@*https://api.mapy.cz/view?page=geocoding*@

<script type="text/javascript">
    var centerHighPoint = SMap.Coords.fromWGS84(JAK.gel("Hlo").value, JAK.gel("Hla").value);
    var centerParking = SMap.Coords.fromWGS84(JAK.gel("Plo").value, JAK.gel("Pla").value);


    var mHigh = new SMap(JAK.gel("mHigh"), centerHighPoint);
    mHigh.addDefaultLayer(SMap.DEF_BASE).enable();
    var mouseHigh = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
    mHigh.addControl(mouseHigh);

    var mParking = new SMap(JAK.gel("mParking"), centerParking);
    mParking.addDefaultLayer(SMap.DEF_BASE).enable();
    var mouseParking = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
    mParking.addControl(mouseParking);

    var l1 = new SMap.Layer.Marker();
    mHigh.addLayer(l1).enable();
    
    var l2 = new SMap.Layer.Marker();
    mParking.addLayer(l2).enable();

    var mark = new SMap.Marker(centerHighPoint);
    mark.decorate(SMap.Marker.Feature.Draggable);
    l1.addMarker(mark);

    var mark2 = new SMap.Marker(centerParking);
    mark2.decorate(SMap.Marker.Feature.Draggable);
    l2.addMarker(mark2);

    function start(e) { /* Začátek tažení */
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "help";
    }

    function stop(e) {
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "";
        var coords = e.target.getCoords();
        JAK.gel("Hlo").value = coords.x;
        JAK.gel("Hla").value = coords.y;
    }

    function stopParking(e) {
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "";
        var coords = e.target.getCoords();

        JAK.gel("Plo").value = coords.x;
        JAK.gel("Pla").value = coords.y;
    }

    var signalsHigh = mHigh.getSignals();
    signalsHigh.addListener(window, "marker-drag-stop", stop);
    signalsHigh.addListener(window, "marker-drag-start", start);

    var signalsParking = mParking.getSignals();
    signalsParking.addListener(window, "marker-drag-stop", stopParking);
    signalsParking.addListener(window, "marker-drag-start", start);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
