@page "/CreateTrip"
@model BaruchsTreks.Pages.CreateTripModel

@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load();</script>

<h1>CreateTrip</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label"></label>
                <input asp-for="Trip.Title" class="form-control" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Description" class="control-label"></label>
                <textarea asp-for="Trip.Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Trip.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Trip.LengthHours" class="control-label"></label>
                <input asp-for="Trip.LengthHours" class="form-control" />
                <span asp-validation-for="Trip.LengthHours" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Trip.MetersAscend" class="control-label"></label>
                <input asp-for="Trip.MetersAscend" class="form-control" />
                <span asp-validation-for="Trip.MetersAscend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pinpoint High point</label>
                <div id="mHigh" style="height:380px"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Trip.HighPoint.Longtitude" class="control-label"></label>
                    <input asp-for="Trip.HighPoint.Longtitude" class="form-control" />
                    <span asp-validation-for="Trip.HighPoint.Longtitude" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Trip.HighPoint.Latitude" class="control-label"></label>
                    <input asp-for="Trip.HighPoint.Latitude" class="form-control" />
                    <span asp-validation-for="Trip.HighPoint.Latitude" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Pinpoint parking</label>
                <div id="mParking" style="height:380px"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Trip.Parking.Longtitude" class="control-label"></label>
                    <input asp-for="Trip.Parking.Longtitude"class="form-control" />
                    <span asp-validation-for="Trip.Parking.Longtitude" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Trip.Parking.Latitude" class="control-label"></label>
                    <input asp-for="Trip.Parking.Latitude" class="form-control disabled" />
                    <span asp-validation-for="Trip.Parking.Latitude" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@*https://api.mapy.cz/view?page=geocoding*@

<script type="text/javascript">
    var centerHighPoint = SMap.Coords.fromWGS84(JAK.gel("Trip_HighPoint_Longtitude").value, JAK.gel("Trip_HighPoint_Latitude").value);
    var centerParking = SMap.Coords.fromWGS84(JAK.gel("Trip_Parking_Longtitude").value, JAK.gel("Trip_Parking_Latitude").value);


    var mHigh = new SMap(JAK.gel("mHigh"), centerHighPoint);
    mHigh.addDefaultLayer(SMap.DEF_BASE).enable();
    var mouseHigh = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
    mHigh.addControl(mouseHigh);

    var mParking = new SMap(JAK.gel("mParking"), centerParking);
    mParking.addDefaultLayer(SMap.DEF_BASE).enable();
    var mouseParking = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
    mParking.addControl(mouseParking);

    var l1 = new SMap.Layer.Marker();
    mHigh.addLayer(l1).enable();
    
    var l2 = new SMap.Layer.Marker();
    mParking.addLayer(l2).enable();

    var mark = new SMap.Marker(centerHighPoint);
    mark.decorate(SMap.Marker.Feature.Draggable);
    l1.addMarker(mark);

    var mark2 = new SMap.Marker(centerParking);
    mark2.decorate(SMap.Marker.Feature.Draggable);
    l2.addMarker(mark2);

    function start(e) { /* Začátek tažení */
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "help";
    }

    function stop(e) {
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "";
        var coords = e.target.getCoords();
        JAK.gel("Trip_HighPoint_Longtitude").value = coords.x;
        JAK.gel("Trip_HighPoint_Latitude").value = coords.y;
    }

    function stopParking(e) {
        var node = e.target.getContainer();
        node[SMap.LAYER_MARKER].style.cursor = "";
        var coords = e.target.getCoords();

        JAK.gel("Trip_Parking_Longtitude").value = coords.x;
        JAK.gel("Trip_Parking_Latitude").value = coords.y;
    }

    var signalsHigh = mHigh.getSignals();
    signalsHigh.addListener(window, "marker-drag-stop", stop);
    signalsHigh.addListener(window, "marker-drag-start", start);

    var signalsParking = mParking.getSignals();
    signalsParking.addListener(window, "marker-drag-stop", stopParking);
    signalsParking.addListener(window, "marker-drag-start", start);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
