@page
@model BaruchsTreks.Pages.CreateTripModel

@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>CreateTrip</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label"></label>
                <input asp-for="Trip.Title" class="form-control" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Description" class="control-label"></label>
                <input asp-for="Trip.Description" class="form-control" />
                <span asp-validation-for="Trip.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Length" class="control-label"></label>
                <input asp-for="Trip.Length" class="form-control timepicker" />
                <span asp-validation-for="Trip.Length" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
